// Importacion del framework de edgrid
$cssCore: false;
$devMode: false;

$colorPrincipal: #22313F;
$colorSecundario: #2c3e50;
$colorSecunFondo: #F5F5F5;
$colorFondo: #fff;
$colorTexto: #555;

@import "ed-grid/ed-grid";

@import "components/_header";
@import "components/_commons";

* {
  box-sizing: border-box;
}
body {
  color: $colorTexto;
}
//Header
.header {
  img {
    width: 350px;
  }
  height: 100px;
  h1, h2, h3, h4 {
    margin: 0;
    font-size: em(35px);
    display: inline-block;
    line-height: rem(81px);
  }
  &__contact {
    @include showFrom(m);
    &_icon {
      margin-top: rem(15px);
      font-size: rem(20px);
    }
    &_text {
      color: $colorTexto;
    }
    p {
      margin-bottom: 0px;
      font-size: 12px;
    }
  }
  &__sesion {
    height: em(81px);
    span {
      display: block;
      font-size: rem(20px);
    }
    a {
      //@include showFrom(321px);
      font-size: rem(12px);
    }
  }
}

//Menu del sitio
.nav_container {
  @include from(l) {
    background : $colorPrincipal;
    &.sticky {
      position : fixed;
      top :0;
      width : 100%;
      z-index : 100;
      background : rgba($colorSecundario, .8);
    }
  }
  .main-menu {
    @include edMenu(l);
    a {
      color: #fff;
      text-transform : uppercase;
      margin-right : 2px;

      &.active,
      &:hover {
        background : rgba(#fff, .2);
      }
    }
  }
  .main-nav {
    @include edNav('left', l);

    @include to(l) {
      background : rgba($colorSecundario,.9);
    }
  }
}

.nav-toggle {
  @include navToggle(20px,$colorSecundario);
  @include hideFrom(l);
}
//Slider de la pagina principal
.slider_container {
  &__img {
    width: 100%;
    max-height: rem(650px);
    height: rem(620px);
  }
}

//Caracteristicas del observatorios
.caracteristicas_container {
  h3 {
    margin-top: 0;
    font-size: rem(18px);
  }
  &__titulo {
    margin-top: 40px;
  }
  &__subtitulo {
    margin-bottom: 40px;
  }
  &__icono {
    color: $colorPrincipal;
    margin-top: 40px;
    font-size: rem(35px);
  }
}

//Noticias
.noticias_container {
  margin-top: 70px;
  margin-bottom: 50px;
  @include grid('.noticias_container__item', 1 2 3 5, 0px);
  //max-width: 1356px;
}

//Nuestros servicios
.servicios_container {
  color: $colorPrincipal;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: rem(25px);
  }
  &__subtitulo {
    width: 100%;
  }
  &__icono {
    margin-top: 40px;
    font-size: rem(50px);
  }
  &__titulo {
    margin-top: 40px;
  }
  &__descripcion {
    margin-bottom: 40px;
  }
}

//Acerca de
.acerca_de_container {
  margin-bottom: 40px;
  &__titulo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__subtitulo {
    h3 {
      margin-top: 0 !important;
    }
    width: 100%;
  }
  &__descripcion {
    text-align: justify;
  }
  &__link {
    margin-bottom: 40px;
  }
}

//Prototipos de diseño
.ejemplo {
  margin-top: 70px;
  .circle_container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #34495e;
    text-align: center;
    h3 {
      font-size: 16px;
      line-height: 20px;
    }
    &__icono {
      font-size: 40px;
      text-align: center;
      color: #fff;
      line-height: 100px;
    }
  }
}
