$font-primary: 'Roboto', Arial, sans-serif;
$font-secondary: 'Open Sans', sans-serif;
// *********************************************************************************************************************
//     Componentes comunes
// *********************************************************************************************************************
@import 'helpers/sizes';
@import 'helpers/mixins';
@import 'helpers/colors';
@import 'helpers/helpers';
@import 'helpers/reset';
@import 'helpers/btn';
// *********************************************************************************************************************
//     Componentes del index
// *********************************************************************************************************************
@import 'components/index/concepts';
@import 'components/index/footer';
@import 'components/index/header';
@import 'components/index/offers';
@import 'components/index/publications';
@import 'components/index/services';
@import 'components/index/slider';
@import 'components/index/whatweoffer';
// *********************************************************************************************************************
//     Componentes de la pagina de inicio de sesion
// *********************************************************************************************************************
@import 'components/signin/form';
// *********************************************************************************************************************
//     Estilos del contenedor principal
// *********************************************************************************************************************
#fh5co-page {
  position: relative;
  z-index: 2;
  background: $brand-bg-color;
  @include transition(.5s);
}