extends templates/template
block main
  // Seccion del menu principal de navegacion
  include templates/header
  // Seccion del slider principal de imagenes sobre el observatorio
  include templates/slider
  // Seccion que ofrecemos, quienes somos
  include templates/whatweoffer
  // Seccion donde se muestran los conceptos del Observatorio, Vision, Mision, Perfil
  include templates/concepts
  // Seccion donde se muestran los servicios del Observatorio
  include templates/services
  // Seccion donde se muestran las publicaciones del Observatorio
  include templates/publications
  // Seccion donde se muestra las principales ofertas que existen
  include templates/offers
  // Seccion Stats

  // Seccion final del Observatorio
  include templates/footer

