extends templates/template
block main
  // Seccion del menu principal de navegacion
  include templates/index/header

  //- Archivo principal
  include templates/signin/main_signin

  // Seccion final del Observatorio
  //- include templates/index/footer
