//-******************************************************************************************************************
//-        Seccion del menu principal de navegacion
//-******************************************************************************************************************
#fh5co-page
  header#fh5co-header(role='banner')
    .container
      .header-inner
        h1
          i.icon-globe
          a(href='index.html') OTecH
        nav(role='navigation')
          ul
            li: a.active(href='index.html') Inicio
            li: a(href='#') Oferta y Demanda
            li: a(href='supportFunds.html') Fondos de Apoyo
            li: a(href='iDi.html') I+D+I
            li: a(href='#') Informacion tecnologica
            li: a(href='signin.html' class="btn-primary btn-outline btn-white" data-tooltip="Inicia sesion o registrate" data-position="bottom left" data-inverted="") Comenzar

