//******************************************************************************************************************
//        Seccion donde se muestran los conceptos del Observatorio, Vision, Mision, Perfil
//******************************************************************************************************************
#gtco-features
  .gtco-container
    .row
      .col-md-4.col-sm-4
        .feature-center.animate-box(data-animate-effect='fadeIn')
          span.icon
            i.icon-eye
          h3 Vision
          p Estudios de vigilancia e inteligencia tecnologica
          p: a.btn.btn-primary(href='#') Learn More
      .col-md-4.col-sm-4
        .feature-center.animate-box(data-animate-effect='fadeIn')
          span.icon
            i.icon-command
          h3 Mision
          p Alertas tecnologicas y de mercado
          p: a.btn.btn-primary(href='#') Learn More
      .col-md-4.col-sm-4
        .feature-center.animate-box(data-animate-effect='fadeIn')
          span.icon
            i.icon-power
          h3 Perfil
          p Analisis de perfil tecnologico empresarial
          p: a.btn.btn-primary(href='#') Learn More

