//******************************************************************************************************************
//        Seccion donde se muestra las principales ofertas que existen
//******************************************************************************************************************
#gtco-portfolio.gtco-section(style="background-image: url(images/4.jpg); background-attachment: fixed;")
  .gtco-container
    .row
      .col-md-8.col-md-offset-2.text-center.gtco-heading.animate-box
        h2 Nuestras ofertas
        p En el Observatorio Tecnologico del Estado de Hidalgo tenemos varias ofertas que puedem llegar a interesarte
    .row.row-pb-md
      .col-md-12
        ul#gtco-portfolio-list
          li.two-third
            a.color-1(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Web Design
                h2 View the Earth from the Outer Space
          li.one-third
            a.color-2(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Illustration
                h2 Sleeping in the Cold Blue Water
          li.one-half
            a.color-3(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Illustration
                h2 Building Builded by Man
          li.one-half
            a.color-4(href='#' style="background-image: url(images/image_6.jpg);")
              .case-studies-summary
                span Web Design
                h2 The Peaceful Place On Earth
    .row
      .col-md-4.col-md-offset-4.text-center
        a.btn.btn-oferta(href='#') See All Our Works
