
<div class="container">
  <div class="container_signin">
    <div class="main">
      <form class="ui form">
        <div class="field">
          <label>Correo Electronico</label>
          <input type="email" name="email" placeholder="Correo Electronico"/>
        </div>
        <div class="field">
          <label>Contraseña</label>
          <input type="password" name="password" placeholder="Contraseña"/>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="checkbox"/>
            <label for="checkbox">Mantener la sesion</label>
          </div>
        </div>
        <button class="ui button" type="submit">Iniciar Sesion</button>
      </form>
    </div>
  </div>
</div>