.container
  .container_signin
    .main
      .social_network
        i.icon-facebook-official
        a(href="#" class="social_network__facebook") Inciar sesion con Facebook
      .social_network
        i.icon-twitter
        a(href="#" class="social_network__twitter") Inciar sesion con Twitter
      .social_network
        i.icon-linkedin
        a(href="#" class="social_network__linkedin") Inciar sesion con Linkedin
      div.middle  OR
      form.ui.form
        .field
          label Correo Electronico
          input(type='email', name='email', placeholder='Correo Electronico')
        .field
          label Contraseña
          input(type='password', name='password', placeholder='Contraseña')
        .field
          .ui.checkbox
            input(type='checkbox' id="checkbox")
            label(for="checkbox") Mantener la sesion
        button.ui.button(type='submit') Iniciar Sesion
        p Aun no tengo cuenta
          a(href="/signup.html") Registrarse
